/* Add your existing CSS styles here */

/* Center the login form */
.overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f1f1f1;
  background-image: url('fabian.jpg'); /* Replace 'pexels.jpeg' with the actual path to your image */
  background-size: cover; /* Cover the entire viewport */
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.login-form {
  background-color: rgba(255, 255, 255, 0); /* Add a semi-transparent background */
  padding: 30px;
  border-radius: 5px;
  /* border: solid;
  border-color: rgb(171, 223, 223); */
  box-shadow: 0px 0px 10px rgba(90, 5, 5, 0.2);
  text-align: center;
}

/* Style the form elements */
form {
  display: flex;
  flex-direction: column;
}

input[type="email"],
input[type="password"] {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
}

input[type="submit"] {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #0056b3;
}

/* Style links */
a {
  text-decoration: none;
  color: #007bff;
}

a:hover {
  text-decoration: underline;
}

